#boton-nav-comprar {
    color: #27a844;
}

#boton-conferencia-comprar{
    background-color: #27a844;
}

#color-bg {
    background-color: #353a40;
}

#tit1-form {
    font-size: 0.7rem;
}

#tit3-form {
    font-size: 0.8rem;
}

#recordatorio-form {
    font-size: 0.7rem;
}

#boton-enviar-form {
    background-color: #96c93e;
}

#footer{
    /* Se utilizan los siguientes colores para el degraddo: IZQUIERDA #1c3643 y DERECHA #1e5372 - Se utiliza https://cssgradient.io/ */
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,83,114,1) 100%);
}