#boton-nav-comprar {
    color: #27a844;
}

#boton-conferencia-comprar{
    background-color: #27a844;
}

#color-bg {
    background-color: #353a40;
}

#tit1-form {
    font-size: 0.7rem;
}

#tit3-form {
    font-size: 0.8rem;
}

#recordatorio-form {
    font-size: 0.7rem;
}

#boton-enviar-form {
    background-color: #96c93e;
}